@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --black: #000000;
    --milk-star-white: #f6eee3;
    --vermeer-blue: #2c7cb0;
    --sonic-silver: #757575;
}
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6eee3;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-box {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: "Andika";
}

.navbar-list {
    list-style: none;
    font-size: 2rem;
}

.navbar-item {
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    font-family: "Andika", sans-serif;
}